@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;

  --black: rgb(0, 0, 0);
  --bgColorSecond: rgb(32, 0, 0);
  --bloodRed: rgb(122, 9, 9);

  --imagemCartaJogador: url(./images/gregorio.png);
}

body {
  background: rgb(31, 26, 20);
  font-family: 'Poppins', sans-serif;
}

header {
  display: block;
  background: linear-gradient(to right, var(--black), var(--bgColorSecond));
  text-align: center;
  padding: 1.5rem;
  font-size: 1.5rem;
  color: var(--bloodRed);
}

/* CARDS */

.container {
  position: relative;
  background: url('https://www.desktopbackground.org/download/1366x768/2013/05/07/572491_vampire-the-masquerade-bloodlines-city-wallpapers_1440x900_h.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  flex-wrap: wrap;
}

.btn {
  display: grid;
  width: 10vw;
  place-content: center;
  padding: 1rem;
  margin: 1rem 2rem;
}

.btn button {
  text-decoration: none;
  font-size: 1.3rem;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  border: 1px solid white;
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

.btn button:hover {
  background: var(--bloodRed);
  padding: 1rem 1.5rem;
  transition: 300ms ease-in-out;
}

/* --------------- CARTAS --------------- */

#carta_jogador {
  position: relative;
  width: 18rem;
  height: 25rem;
  margin: 1.87rem;
  box-shadow: 1.25rem 1.25rem 3.125rem rgba(0, 0, 0, 0.5);
  border-radius: 1.25rem;
  
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

#carta_maquina {
  position: relative;
  width: 18rem;
  height: 25rem;
  margin: 1.87rem;
  box-shadow: 1.25rem 1.25rem 3.125rem rgba(0, 0, 0, 0.5);
  border-radius: 1.25rem;
  
  overflow: hidden;  
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.content {
  padding: 1.25rem;
  text-align: center;
  transition: 0.5s;
}

#imagem_carta_jogador img{
  position: relative;
  top: 5rem;
  border: 2px solid rebeccapurple;

}

#imagem_carta_maquina  img{
  position: relative;
  top: 5rem;
  left: 33.5rem;
  border: 2px solid rebeccapurple;
}

#card_name {
  display: grid;
  width: 100vw;
  position: relative;
  /* border: 1px solid greenyellow; */
  top: -18.2rem;
  right: 4.3rem;
  font-size: 0.9rem;
  color: var(--bloodRed);
  pointer-events: none;
}

#card_name_mc {
  display: grid;
  width: fit-content;
  position: relative;
  /* border: 1px solid greenyellow; */
  top: -18.2rem;
  left: 36rem;
  font-size: 0.9rem;
  color: var(--bloodRed);
  pointer-events: none;
}

#card_clan {
  display: grid;
  position: relative;
  width: 100vw;
  /* border: 1px solid burlywood; */
  top: -18rem;
  right: 3rem;
  background: rgba(255,255,255,.2);
  font-size: 1.8rem;
  color: var(--bloodRed);
  z-index: 1;
}

#card_clan_mc {
  display: grid;
  position: relative;
  width: 100vw;
  /* border: 1px solid burlywood; */
  top: -18rem;
  right: -34.5rem;
  background: rgba(255,255,255,.2);
  font-size: 1.8rem;
  color: var(--bloodRed);
  z-index: 1;
}

#card_opcoes {
  display: inline-block;
  position: relative;
  height: 5rem;
  width: 11rem;
  top: -6rem;
  left: 1rem;

  padding: 0.3rem 2rem;
  font-size: 0.8rem;
  text-align: left;
  color: white;
  font-weight: 300;
}

#card_opcoes_mc {
  display: inline-block;
  position: relative;
  height: 5rem;
  width: 11rem;
  top: -6rem;
  left: 35.5rem;

  padding: 0.3rem 2rem;
  font-size: 0.8rem;
  text-align: left;
  color: white;
  font-weight: 300;
}

#card_opcoes input {
  margin: 0 0.8rem;
}
#card_opcoes_mc input {
  margin: 0 0.8rem;
}

.resultado {
  display: block;
  width: 27%;
  height: 50vh;
  text-align: center;
  color: white;
}

.resultado p {
  margin: 3rem;
  border: 2px solid white;
  padding: 1rem;
}

/* ---------------------------------- */

footer {
  display: grid;
  place-content: center;
  margin: 1.5rem;
}

footer p {
  color: #fff;
}

footer span {
  font-size: 1.5rem;
  border: 2px solid greenyellow;
  padding: 2px;
  margin: 3px;
}

span a {
  text-decoration: none;
  color: greenyellow;
}
